<footer>
    <section class="footer">
        <nav class="menu">
            <a class="menu-a" href="/home">home</a>
            <a class="menu-a" href="/services">services</a>
            <a class="menu-a" href="/portfolio">portfolio</a>
            <a class="menu-a" href="/contact">contact us</a>
        </nav>

        <div class="logo-social">
            <img id="footerLogo" src="../assets/logoV.png" alt="Logo"/>    
            <div id="socialMedia">
                <a class="socialMedia" href="instagram"><i class="fa-brands fa-instagram"></i></a>
                <a class="socialMedia" href="facebook"><i class="fa-brands fa-facebook"></i></a>
                <a class="socialMedia" href="linkedin"><i class="fa-brands fa-linkedin"></i></a>
            </div> 
        </div>

        <div class="office-info">
            <div class="offices"> 
                <div class="office">
                    <h3>headquarters</h3>
                    <div class="info">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Córdoba, Argentina</p>
                    </div>
                    <div class="info">
                        <i class="fa-solid fa-phone-flip"></i>
                        <p>+54-3513952521</p>
                    </div>
                </div>
                <div class="office">
                    <h3>sales office</h3>
                    <div class="info">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Milan, Italia</p>
                    </div>
                    <div class="info">
                    <i class="fa-solid fa-phone-flip"></i>
                    <p>+39-3489272172 <br>+34-624026942</p>
                    </div>
                </div>
            </div>
            <div class="info">
                <i class="fa-solid fa-envelope"></i>
                <p>info@teknik-id.com</p>
            </div>
        </div>
    </section>

    <section class="copyrigths">
        <p>Copyright 2021 © Teknik - Engineering & Desing</p>
    </section>

</footer>