<footer>

    <section id="footer-nav">
        <a href="/home">home</a>
        <a href="/services">services</a>
        <a href="/portfolio">portfolio</a>
        <a href="/contact">contact</a>
    </section>

    <section id="footer-content">
        <div id="footer-content-logos">
            <img src="/assets/logos/logoTeknik.svg" alt="Teknik">
            <img src="/assets/logos/logoDlubal.svg" alt="Dlubal">
        </div>
        <div id="foote-content-info">
            <div>
                <h3>headquarters</h3>
                <p><i class="fa-solid fa-location-dot"></i> Córdoba, Argentina</p>
                <p><i class="fa-solid fa-phone-flip"></i> +54-3513952521</p>
            </div>
            <div>
                <h3>sales office</h3>
                <p><i class="fa-solid fa-location-dot"></i> Milan, Italia</p>
                <p><i class="fa-solid fa-phone-flip"></i> +39-3489272172 / +34-624026942</p>
            </div>
            <div>
                <h3>mail</h3>
                <p><i class="fa-solid fa-envelope"></i> info@teknik-id.com</p>
            </div>
        </div>
    </section>

    <hr>

    <section id="footer-social">
        <div>
            <a href="https://www.instagram.com/teknik.engineering/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/teknikengineeringanddesign"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/company/teknik-id/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <p>Copyright 2021 © Teknik - Engineering & Desing</p>
    </section>

</footer>