<header>
    <nav>
        <div class="headerLogo">
            <img src="../assets/logoH.png" alt="Logo"/>        
        </div>

        <div class="headerNav">
                <a class="mobile" id="contact" href="contact">contact us</a>
                <a class="mobile"  id="menu" href="Menu"><i class="fa-solid fa-bars"></i></a>
                <a class="desktop" href="home">home</a>
                <a class="desktop" href="services">services</a>
                <a class="desktop" href="portfolio">portfolio</a>
                <a class="desktop" href="contact">contact us</a>
        </div>
    </nav>
</header>