<header>
    <nav id="headerNav">

        <div id="headerNavLogo"><img src="/assets/logos/logoTeknik.svg" alt="Teknik" /></div>

        <section id="headerNavDesk">
            <a href="/home">home</a>
            <a href="/services">services</a>
            <a href="/portfolio">portfolio</a>
            <a href="/contact">contact us</a>
        </section>

        <section id="headerNavMobile">
            <a id="home" href="/home">home</a>
            <a id="menuIcon"><i class="fa-solid fa-bars"></i></a>
            <ul class="menuDropdown inactive">
                <li><a href="/services">services</a></li>
                <li><a href="/portfolio">portfolio</a></li>
                <li><a href="/contact">contact us</a></li>
            </ul>
        </section>

    </nav>
</header>