main {
    height: 50v;
    margin:3em 1em;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
display: flex;
flex-direction: column;
align-items: center;
gap: .5em;
}

