footer {
    position: relative;
    bottom: 0;
    padding: 1em;
    margin-top: 2em;
    background-color: white;
    box-shadow: 0px 0px 3px var(--gray-color);
    margin-top: 2em;
}

#footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

}

#footer-content-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 2em 0;
}

#footer-content-logos img {
    width: 60%;
}

#foote-content-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    line-height: 5em;
}

#foote-content-info div h3 {
    color: var(--darkYellow-color);
    text-transform: uppercase;
    line-height: 2em;
    font-size: 1em;
}

hr {
    visibility: hidden;
}

#footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

#footer-social div a i {
    padding: .3em;
    color: var(--darkYellow-color);
    transition: 300ms;
}

#footer-social div a i:hover {
    transform: scale(1.2);
}

#footer-social p {
    padding-top: 2em;
    font-weight: lighter;
    font-size: small;
}

/* TABLET */
@media (min-width: 700px) {
    #footer-nav {
        justify-content: center;
        gap: 3em;
    }

    #footer-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
    }

    #footer-content-logos,
    #footer-content-info {
        width: 50%;
    }

    #footer-content-logos {
        align-items: flex-start;
        padding: 0;
    }

    hr {
        visibility: visible;
    }

    #footer-social {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2em;
        margin-top: 1em;
    }

    #footer-social div a {
        margin: 0 .5em;
    }

    #footer-social div a i {
        padding: 0;
    }

    #footer-social p {
        padding-top: 0;
    }
}

/* NOTEBOOK */
@media (min-width: 1200px) {
    #footer-nav a {
        font-size: 1.2em;
    }

    #footer-content {
        width: 80%;
        margin: 2em auto;
    }

    #footer-content-logos img {
        width: 50%;
    }

    #footer-social {
        justify-content: center;
        gap: 20em;
    }

    #footer-social {
        margin-top: 1em;
    }

    #footer-social div a {
        margin: 0 1em;
    }

    #footer-social div a i {
        font-size: 30px;
    }
}

/* RETINA */
@media (min-width: 1900px) {
    #footer-nav {
        gap: 4em;
    }

    #footer-nav a {
        font-size: 1.5em;
    }

    #foote-content-info div h3 {
        font-size: 1.5em;
    }

    #footer-social {
        margin: 2em auto;
    }

    #footer-social p {
        font-size: x-large;
    }

    #footer-social div a i {
        font-size: 40px;
    }
}