main {
    margin: 3em 0;
    overflow-x: hidden;
}

#banner {
    position: relative;
    height: 60vh;
    /*z-index: -1;  to be behind the header dropdown*/
}

#text {
    position: absolute;
    margin: 0 1em;
    padding: 0 1em;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: .7em; /* space between text and link */
    font-family: 'din pro cond';
    letter-spacing: .05em;
}

.dossierDownload {
    width: 70%;
    padding:.5em .3em;
    border-radius: 4px;
    background-color: var(--darkYellow-color);
    text-align: center;
    font-family: 'din alternate';
    font-size: .8em;
    text-decoration: none;
    color: var(--white-color);
    transition: 300ms;
}

.dossierDownload:hover {
    transform: scale(1.2);
    cursor: pointer;
}



.about {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
}

.text-heavy span {
    color: var(--lightYellow-color);  
}

#team-list {
    display: flex;
    flex-direction: column;
    gap:1em;
    list-style: none;
    
}
.team-item{
    padding: .5em 0;
    box-shadow: 0px 0px 3px var(--lightGrey-color);
}
.team-item h4 {
    font-family: 'din alternate';
    font-size: .9em;
    letter-spacing: .03em;
    color:var(--darkGrey-color);
    padding: .3em 0;
}

.team-item h5 {
    font-family: 'din pro cond';
    font-weight: lighter;
    font-size: .9em;
    letter-spacing: .05em;
    color:var(--darkGrey-color);
    padding: 0 0 .5em 0;
}

#our-linkedIn {
    padding: .5em 0;
    text-decoration: none;
    font-family: 'din alternate';
    font-size: .9em;
    letter-spacing: .03em;
    color:var(--darkYellow-color);
}


/* MOBILE PLUS */
@media (min-width: 356px) {
}

@media (min-width: 414px) {
     #text {
        font-size: 1.3em;
    }
    .text-ligth {
        font-size: 1.3em;
    }
    .text-heavy {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.2em;
    }
}

/* TABLET */
@media (min-width: 760px){
    #text {
        margin: 2em 0em 2em 4em;
        width: 50%;
        font-size: 1.5em;
    }
}

@media (min-width: 950px) {
    #text { font-size: 1.7em; }
}
@media (min-width: 1000px){
    #text { font-size: 1.9em; }
}



/* NOTEBOOK */
@media (min-width: 1200px) {
    #banner {
    height: 100vh;
    }
    #text {
        margin: 2em 0em 2em 6em;
        width: 40%;
        font-size: 1.8em;
    }
}

/* RETINA */
@media (min-width: 1440px) {
    #text {
        margin: 2em 0em 2em 8em;
        width: 35%;
        font-size: 2.2em;
    }
}

@media (min-width: 1900px) {
    #text {
        margin: 3em 0em 2em 10em;
        width: 35%;
        font-size: 2.2em;
    }
}