
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Spectral+SC:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: border-box;
}


:root {
    --white-color: white;
    --black-color: black;
    --lightYellow-color: #E9CF60;
    --darkYellow-color: #EECE47;
    --lightGrey-color: #D9D9D9;
    --darkGrey-color: #565556;
}

img {
    max-height: 100%;
    object-fit: contain;
}

body {
    width: calc ( 100vw - (100vw - 100%));
}


h2 {
    font-family: 'din alternate';
    letter-spacing: .03em;
    font-size: 1em;
    color:var(--lightYellow-color);
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: 'din alternate';
    letter-spacing: .03em;
    font-size: .9em;
    color:var(--darkGrey-color);
    text-transform: uppercase;
    text-align: center;
}

button {
    padding:.5em .3em;
    border-radius: 4px;
    background-color: var(--darkYellow-color);
    text-align: center;
    font-family: 'din alternate';
    font-size: .8em;
    color: var(--white-color);
}

.text-ligth {
    font-family: 'din pro cond';
    font-size: 1em;
    letter-spacing: .03em;
    line-height: 1.5em;
    color: var(--darkGrey-color);
    text-align: center;
}

.text-heavy {
    font-family: 'din alternate';
    font-size: 1em;
    letter-spacing: .03em;
    line-height: 1.5em;
    color: var(--darkGrey-color);  
    text-align: center;
}




/* TABLET */
@media (min-width: 768px) {

}

/* DESKTOP */
@media (min-width: 1200px) {
}