main {
    overflow: hidden;
    margin: 2em 1em;
}

#portfolio-hexGrid {
    display: flex;
    flex-wrap:wrap;
    list-style-type: none;
    font-family: 'din alternate';
    font-size: .4em;
    letter-spacing: .03em;
    text-transform: uppercase;
}

.portfolio-hex {
    position: relative;
    --m-hex: .5em;
    --n-hex: 2; /*number of hexagons on odd rows */
    --w-hex: calc((100% - (var(--m-hex)*4)) / (var(--n-hex)));  /* hexagon width based on the number of hexagons */
    width: var(--w-hex);
    aspect-ratio: 1/1;
    /*height: 135px; /*VER COMO SE PUEDE CALCULAR DE FORMA RESPONSIVE*/
    margin: var(--m-hex);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: var(--lightYellow-color);
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    margin-bottom: calc(var(--m-hex) - calc(.25 * var(--w-hex)) ); /*margen - el 25% de la altura) */
}

.portfolio-hexLink{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
} 

.portfolio-hex img {
    position: absolute;
    top: .5%; /*para que quede separado el hexagono de color que hace el borde*/
    left: .5%; /*para que quede separado el hexagono de color que hace el borde*/
    width: 99%; /*para que quede separado el hexagono de color que hace el borde*/
    height: 99%; /*para que quede separado el hexagono de color que hace el borde*/
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    object-fit:contain;
    background-color: var(--white-color);
}

.portfolio-hex h1 , .portfolio-hex p {
    position: absolute;
    width: 100%;
    padding: 5%;
    background-color: var(--lightYellow-color);
    opacity: .85;
    transition: transform .2s ease-out;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.portfolio-hex h1{
    bottom: 50%;
    padding-top:50%;
    z-index: 1;
    transform:translateY(-100%);
    
}

.portfolio-hex h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid var(--white-color);
  } 

.portfolio-hex p {
    top: 50%;
    padding-bottom:50%;
    transform:translateY(100%);
}

.portfolio-hexLink:hover h1 , .portfolio-hexLink:hover p {
    transform:translateY(0); /*no entiendo porque */
}

/* MOBILE PLUS */
@media (min-width: 300px) and (max-width: 700px){
    .portfolio-hex:nth-child(3n+3){  /* first hexagon of even rows */
      margin-left: calc( (var(--w-hex) / 2) + calc(2*var(--m-hex)));  /* value of margin left is half the width of one hexagon  */
    }
}


/* TABLET */

@media (min-width: 701px) and (max-width: 1000px){
    .portfolio-hex {
        --n-hex: 3; /*number of hexagons on odd rows */
        --w-hex: calc((100% - (var(--m-hex)*6)) / (var(--n-hex)));  /* hexagon width based on the number of hexagons */
    }
    .portfolio-hex:nth-child(5n+4){  /* first hexagon of even rows */
      margin-left: calc( (var(--w-hex) / 2) + calc(2*var(--m-hex)));  /* value of margin left is half the width of one hexagon  */
    }
}

/* NOTEBOOK */
@media (min-width: 1001px){
    .portfolio-hex {
        --m-hex: 1em;
        --n-hex: 4; /*number of hexagons on odd rows */
        --w-hex: calc((100% - (var(--m-hex)*8)) / (var(--n-hex)));  /* hexagon width based on the number of hexagons */
    }
    .portfolio-hex:nth-child(7n+1){  /* first hexagon of even rows */
      margin-left: calc( (var(--w-hex) / 2) + calc(2*var(--m-hex)));  /* value of margin left is half the width of one hexagon  */
    }
}

/* RETINA */

