main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-desktop {
    display: none;
}

#services-mobile {
    font-weight: lighter;
    margin-bottom: 2em;
}

#services {
    margin: 1em;
}

.services {
    margin-bottom: 2em;
    padding: 1em;
    border: .8px solid var(--darkYellow-color);

}

.fa-caret-right {
    color: var(--darkYellow-color);
}

#services ul h2 {
    text-align: center;
    padding: .5em;
    font-size: 1em;
    color: var(--lightYellow-color);
}

#services ul p {
    padding: .5em;
    font-style: italic;
    color: var(--gray-color);
}

#services ul li {
    list-style: none;
    text-align: center;
    font-weight: lighter;
    line-height: 1.5em;
    padding: .5em;
}

.services-gallery {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.services-gallery div {
    width: 70%;
    border: 1px solid black;
}

.services-gallery img {
    padding: 1em;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#services-others {
    padding: 3em 2em;
}

#services-others h2 {
    padding: .5em;
    text-align: center;
    font-size: 1em;
    color: black;
}

#services-others p {
    line-height: 1.5em;
    padding: .5em;
    color: var(--darkYellow-color);
}

#services-others span {
    font-weight: lighter;
    color: black;
}

/* TABLET */
@media (min-width: 700px) {
    #services-mobile {
        display: none;
    }

    #services-desktop {
        display: block;
        font-weight: lighter;
        margin: 3em;
        font-size: 1.4em;
    }

    #services {
        width: 60vw;
        margin: 1em;
    }

    h1 {
        font-size: 1.3em;
    }

    #services ul h2 {
        font-size: 1.1em;
    }

    #services-others h2 {
        font-size: 1.1em;
    }
}

/* NOTEBOOK */
@media (min-width: 1200px) {
    h1 {
        font-size: 1.5em;
    }

    #services {
        margin: 3em 0;
        width: 70vw;
    }

    #services ul h2 {
        margin: 1em 0;
        font-size: 1.5em;
    }

    #services ul li,
    #services ul p {
        font-size: 1.2em;
    }

    .services {
        margin-bottom: 4em;
        border-radius: 10px;
    }

    .services-gallery {
        gap: 12px;
    }

    .services-gallery div {
        width: 30%;
        height: 250px;
    }

    #services-others {
        padding: 4em 2em;
    }

    #services-others h2 {
        padding-top: 0;
        padding-bottom: 1em;
        font-size: 1.5em;
    }

    #services-others p {
        font-size: 1.2em;
    }
}

/* RETINA */


@media (min-width: 1920px) {}