<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/contact.css" />
</head>

<body>
    <%- include ('../partials/header.ejs') %>

        <main id="contact-page">

            <h1>how can we help you?</h1>

            <form id="contact" action="https://formsubmit.co/icoraglio@gmail.com" method="POST">
                <input class="contact" required id="name" type="text" name="name" placeholder="Name" />
                <input class="contact" required id="email" type="email" name="email" placeholder="Email" />
                <input class="contact" required id="phone" type="tel" name="phone" placeholder="Phone" />
                <textarea class="contact" required id="message" rows="8" name="message"
                    placeholder="Message"></textarea>

                <button id="contact-send" type="submit">SEND</button>

                <input type="hidden" name="_next" value="http://localhost:8080/contact/received" />
                <input type="hidden" name="_captcha" value="false" />
            </form>


        </main>

        <%- include ('../partials/footer.ejs') %>
            <%- include ('../partials/script.ejs') %>
</body>

</html>