<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="login" action="/login" method="post">
        <label for="email"></label>
        <input class="login"
        required
        id="email"
        type="email"
        name="email"
        placeholder="email"
        />
        <label for="password"></label>
        <input class="login"
        required
        id="password"
        type="password"
        name="password"
        placeholder="password"
        />
        <button id="ingresar" type="submit">SEND</button>
    </form>
</body>
</html>