<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/974a6748c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Spectral+SC:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/din-alternate" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/din-pro-cond" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/index.css" />
    <link rel="stylesheet" href="../../../css/header.css" />
    <link rel="stylesheet" href="../../../css/contact.css" />
    <link rel="stylesheet" href="../../../css/footer.css" />
    <link rel="icon" href="../../public/assets/fav.ico">
    <title>Teknik Ingenieria y Diseño</title>
    
</head>
<body>
    <%- include ('../partials/header.ejs') %>

    <main>
    
        <h2>how can we help you?</h2>
    
        <form id="contact" action="/contact" method="post">
        <label for="name"></label>
        <input class="contact"
            required
            id="name"
            type="text"
            name="name"
            placeholder="Name"
        />
        <label for="email"></label>
        <input class="contact"
            required
            id="email"
            type="email"
            name="email"
            placeholder="Email"
        />
        <label for="phone"></label>
        <input class="contact"
            required
            id="phone"
            type="tel"
            name="phone"
            placeholder="Phone"
        />
        <label for="message"></label>
        <textarea class="contact"
            required
            id="message"
            rows="8"
            placeholder="Message"
         ></textarea>   
       
        <button id="contact-send" type="submit">SEND</button>
        </form>

    </main>
    
    <%- include ('../partials/footer.ejs') %>
</body>
</html>